In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df_XWQY_CPXX = pd.read_table("./JXW_XWQYCPXX.txt",low_memory=False)

In [40]:
print(df_XWQY_CPXX.shape)
df_XWQY_CPXX.head(1)

(147005, 29)

,ZH,MC,DQ_S,DQ_Q,DQ_XZ,HYDM1,HYDM2,HYDM3,HYMD4,SZDS,...,SCL_BYZLJ,SCL_QNBY,SCL_QNBYZLJ,XSL_BY,XSL_BYZLJ,XSL_QNBY,XSL_QNBYZLJ,QMKCL,RKRQ,SJRQ
0,54218304,长兴艾尔诺纺织有限公司,湖州市,长兴县,NaN,制造业[C],纺织业[17],化纤织造及印染精加工[175],化纤织造加工[1751],湖州市[3305],...,0.0,240.0,240.0,0.0,0.0,240.0,240.0,0.0,NaN,201801.0

In [41]:
df_XWQY_CPXX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147005 entries, 0 to 147004
Data columns (total 29 columns):
ZH             135230 non-null object
MC             147005 non-null object
DQ_S           146791 non-null object
DQ_Q           145070 non-null object
DQ_XZ          12525 non-null object
HYDM1          135499 non-null object
HYDM2          131754 non-null object
HYDM3          129691 non-null object
HYMD4          128481 non-null object
SZDS           134270 non-null object
SZDQX          133044 non-null object
SZDZJ          1698 non-null object
ZCLX           132696 non-null object
SFGS           127913 non-null object
GSGM           129402 non-null object
CPMC           127895 non-null object
CPDM           56841 non-null object
JLDW           126776 non-null object
SCL_BY         115029 non-null float64
SCL_BYZLJ      116865 non-null float64
SCL_QNBY       115377 non-null float64
SCL_QNBYZLJ    116436 non-null float64
XSL_BY         114515 non-null float64
XSL_BYZLJ      116326 non-null float64
XSL_QNBY       114845 non-null float64
XSL_QNBYZLJ    115984 non-null float64
QMKCL          108252 non-null float64
RKRQ           0 non-null float64
SJRQ           147004 non-null float64
dtypes: float64(11), object(18)
memory usage: 32.5+ MB

In [58]:
df_XWQY_CPXX_JS = df_XWQY_CPXX.drop([
    'ZCLX','ZH', 'MC', 'DQ_S', 'DQ_Q', 'DQ_XZ', 'HYDM1', 'HYDM2', 'HYDM3', 'HYMD4',
    'SZDS', 'SZDQX', 'SZDZJ','CPMC','CPDM','JLDW','RKRQ'
], 1)
QYGM_MAP = {
    '微型企业':1,
    '小型企业':2,
    '中型企业':3,
    '大型企业':4,
    0:0
}
SFGS_MAP = {
    '是':2,
    '否':1,
    0:0
}

df_XWQY_CPXX_JS['SFGS'] = df_XWQY_CPXX_JS['SFGS'].fillna(0)
df_XWQY_CPXX_JS['GSGM'] = df_XWQY_CPXX_JS['GSGM'].fillna(0)
df_XWQY_CPXX_JS['SCL_BY'] = df_XWQY_CPXX_JS['SCL_BY'].fillna(0)
df_XWQY_CPXX_JS['SCL_BYZLJ'] = df_XWQY_CPXX_JS['SCL_BYZLJ'].fillna(0)
df_XWQY_CPXX_JS['SCL_QNBY'] = df_XWQY_CPXX_JS['SCL_QNBY'].fillna(0)
df_XWQY_CPXX_JS['SCL_QNBYZLJ'] = df_XWQY_CPXX_JS['SCL_QNBYZLJ'].fillna(0)
df_XWQY_CPXX_JS['XSL_BY'] = df_XWQY_CPXX_JS['XSL_BY'].fillna(0)
df_XWQY_CPXX_JS['XSL_BYZLJ'] = df_XWQY_CPXX_JS['XSL_BYZLJ'].fillna(0)
df_XWQY_CPXX_JS['XSL_QNBY'] = df_XWQY_CPXX_JS['XSL_QNBY'].fillna(0)
df_XWQY_CPXX_JS['XSL_QNBYZLJ'] = df_XWQY_CPXX_JS['XSL_QNBYZLJ'].fillna(0)
df_XWQY_CPXX_JS['QMKCL'] = df_XWQY_CPXX_JS['QMKCL'].fillna(0)
df_XWQY_CPXX_JS['QMKCL'] = df_XWQY_CPXX_JS['QMKCL'].fillna(0)

df_XWQY_CPXX_JS['GSGM'] = df_XWQY_CPXX_JS['GSGM'].map(QYGM_MAP)
df_XWQY_CPXX_JS['SFGS'] = df_XWQY_CPXX_JS['SFGS'].map(SFGS_MAP)

In [59]:
print(df_XWQY_CPXX_JS.shape)
df_XWQY_CPXX_JS.info()

(147005, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147005 entries, 0 to 147004
Data columns (total 12 columns):
SFGS           147005 non-null int64
GSGM           147005 non-null int64
SCL_BY         147005 non-null float64
SCL_BYZLJ      147005 non-null float64
SCL_QNBY       147005 non-null float64
SCL_QNBYZLJ    147005 non-null float64
XSL_BY         147005 non-null float64
XSL_BYZLJ      147005 non-null float64
XSL_QNBY       147005 non-null float64
XSL_QNBYZLJ    147005 non-null float64
QMKCL          147005 non-null float64
SJRQ           147004 non-null float64
dtypes: float64(10), int64(2)
memory usage: 13.5 MB

In [61]:
df_XWQY_CPXX_JS.head(1)

,SFGS,GSGM,SCL_BY,SCL_BYZLJ,SCL_QNBY,SCL_QNBYZLJ,XSL_BY,XSL_BYZLJ,XSL_QNBY,XSL_QNBYZLJ,QMKCL,SJRQ
0,2,2,0.0,0.0,240.0,240.0,0.0,0.0,240.0,240.0,0.0,201801.0

In [85]:
##删除错误数据
df_XWQY_CPXX_JS.isnull().any()
df_XWQY_CPXX_JS['SJRQ'] = df_XWQY_CPXX_JS['SJRQ'].fillna(9999)
drop_list = df_XWQY_CPXX_JS[(df_XWQY_CPXX_JS['SJRQ']==9999)].index.tolist()
df_XWQY_CPXX_JS[df_XWQY_CPXX_JS.isnull().values==True]
df_XWQY_CPXX_JS = df_XWQY_CPXX_JS.drop(drop_list)
df_XWQY_CPXX_JS.shape

(147004, 12)

In [93]:
#增加是否停产标志

def sftc(x):
    if x >0 :
        return 1
    else:
        return 0
pd_sftc = df_XWQY_CPXX_JS['SCL_BY'].apply(lambda x:sftc(x))
df_XWQY_CPXX_JS['SFTC'] = pd_sftc

In [94]:
df_XWQY_CPXX_JS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147004 entries, 0 to 147004
Data columns (total 13 columns):
SFGS           147004 non-null int64
GSGM           147004 non-null int64
SCL_BY         147004 non-null float64
SCL_BYZLJ      147004 non-null float64
SCL_QNBY       147004 non-null float64
SCL_QNBYZLJ    147004 non-null float64
XSL_BY         147004 non-null float64
XSL_BYZLJ      147004 non-null float64
XSL_QNBY       147004 non-null float64
XSL_QNBYZLJ    147004 non-null float64
QMKCL          147004 non-null float64
SJRQ           147004 non-null float64
SFTC           147004 non-null int64
dtypes: float64(10), int64(3)
memory usage: 20.7 MB

In [95]:
#归一化
from sklearn.preprocessing import MinMaxScaler
minMax = MinMaxScaler()
df_XWQY_CPXX_JS = minMax.fit_transform(df_XWQY_CPXX_JS)

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [97]:
BATCH_START = 0     # 建立 batch data 时候的 index
TIME_STEPS = 10     # backpropagation through time 的 time_steps
BATCH_SIZE = 30
INPUT_SIZE = 13      # sin 数据输入 size
OUTPUT_SIZE = 1     # cos 数据输出 size
CELL_SIZE = 10      # RNN 的 hidden unit size
LR = 0.006          # learning rate

In [98]:
def get_batch_xwqy():
    global train_x, train_y,BATCH_START, TIME_STEPS
    x_part1 = train_x[BATCH_START : BATCH_START+TIME_STEPS*BATCH_SIZE]
    y_part1 = train_y[BATCH_START : BATCH_START+TIME_STEPS*BATCH_SIZE]
    print('时间段=', BATCH_START, BATCH_START + TIME_STEPS * BATCH_SIZE)
 
 
    seq =x_part1.reshape((BATCH_SIZE, TIME_STEPS ,INPUT_SIZE))
    res =y_part1.reshape((BATCH_SIZE, TIME_STEPS ,1))
 
    BATCH_START += TIME_STEPS
 
    # returned seq, res and xs: shape (batch, step, input)
    #np.newaxis 用来增加一个维度 变为三个维度，第三个维度将用来存上一批样本的状态
    return [seq , res  ]

In [112]:
def get_batch():
    global BATCH_START, TIME_STEPS
    # xs shape (50batch, 20steps)
    xs = np.arange(BATCH_START, BATCH_START+TIME_STEPS*BATCH_SIZE).reshape((BATCH_SIZE, TIME_STEPS)) / (10*np.pi)
    print('xs.shape=',xs.shape)
    seq = np.sin(xs)
    res = np.cos(xs)
    BATCH_START += TIME_STEPS
    # import matplotlib.pyplot as plt
    # plt.plot(xs[0, :], res[0, :], 'r', xs[0, :], seq[0, :], 'b--')
    # plt.show()
    print('增加维度前:',seq.shape)
    print(  seq[:2])
    print('增加维度后:',seq[:, :, np.newaxis].shape)
    print(seq[:, :, np.newaxis][:2])
    # returned seq, res and xs: shape (batch, step, input)
    #np.newaxis 用来增加一个维度 变为三个维度，第三个维度将用来存上一批样本的状态
    return [seq[:, :, np.newaxis], res[:, :, np.newaxis], xs]

In [113]:
batch = get_batch()
# print(batch[0])

xs.shape= (30, 10)
增加维度前: (30, 10)
[[ 0.5606028   0.53396451  0.50678525  0.47909255  0.45091447  0.42227955
   0.39321682  0.3637557   0.33392605  0.3037581 ]
 [ 0.2732824   0.24252983  0.21153155  0.18031896  0.14892368  0.11737752
   0.08571245  0.05396054  0.02215396 -0.00967507]]
增加维度后: (30, 10, 1)
[[[ 0.5606028 ]
  [ 0.53396451]
  [ 0.50678525]
  [ 0.47909255]
  [ 0.45091447]
  [ 0.42227955]
  [ 0.39321682]
  [ 0.3637557 ]
  [ 0.33392605]
  [ 0.3037581 ]]

 [[ 0.2732824 ]
  [ 0.24252983]
  [ 0.21153155]
  [ 0.18031896]
  [ 0.14892368]
  [ 0.11737752]
  [ 0.08571245]
  [ 0.05396054]
  [ 0.02215396]
  [-0.00967507]]]